// variables.scss
$font-weight: 400;
$menu-background: #fff;
$menu-text-color: #9197B3;
$menu-hover-color: #f2f5f8;
$menu-active-color: #5932EA;

$customers-background: #fff;
$customers-header-font-size: 22px;
$customers-header-font-weight: 600;
$customers-header-color: #000;
$customers-header-margin-bottom: 40px;
$customers-header-title-margin-bottom: 7px;

$customers-search-background: #f9fbff;
$customers-search-placeholder-color: #b5b7c0;
$customers-search-icon-color: #7E7E7E;
$customers-search-icon-width: 24px;
$customers-search-icon-height: 24px;
$customers-search-icon-font-size: 18px;
$customers-search-input-padding: 10px 10px 10px 40px;
