.customers {
  width: 968px;
  height: 812px;
  flex-shrink: 0;
  background: #fff;
  filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
  margin: 0;
  padding: 40px;
  border-radius: 16px;

  .customers-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    &-title {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: -0.22px;
      margin-bottom: 7px;

      &-members {
        color: #16c098;
      }
    }
  }

  .customers-search {
    position: relative;
    width: 216px;

    .customers-search-input-wrapper {
      position: relative;
      width: 100%;
    }

    .customers-search-icon {
      position: absolute;
      width: 24px;
      height: 24px;
      fill: #7E7E7E;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      font-size: 18px;
    }

    .customers-search-input {
      padding: 10px 10px 10px 40px;
      border-radius: 10px;
      background: #f9fbff;
      outline: none;
      border: none;

      &::placeholder {
        color: #b5b7c0;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

.members-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}

.members-table thead th {
  text-transform: capitalize;
  color: #b5b7c0;
  font-weight: 500;
  padding-bottom: 14px;
  padding-top: 0;
  white-space: nowrap;
  position: relative;
}

.members-table thead th::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #eee;
}

th,
td {
  text-align: left;
  vertical-align: middle;
  padding: 24px 0;
}

.members-table tbody tr {
  position: relative;
  color: #292d32;
  font-weight: 500;
}

.members-table tbody tr:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #eee;
}

.members-table tbody tr:last-child::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #eee;
}

.active {
  color: #008767;
  display: flex;
  width: 80px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #00b087;
  background: rgba(22, 192, 152, 0.38);
  margin: auto;
}

.inactive {
  color: #e11d48;
  display: flex;
  width: 80px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #df0404;
  background: #ffc5c5;
  margin: auto;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;

  p {
    color: #b5b7c0;
  }

  .pagination-buttons {
    display: flex;
    align-items: center;
    gap: 12px;

    button {
      background: #f5f5f5;
      border: 1px #eee;
      border-radius: 4px;
      padding: 6px 8px;
      cursor: pointer;
      outline: none;
      color: #404B52;
      font-size: 12px;
      font-weight: 500;
      transition: background-color 0.3s;

      &.selected {
        color: #fff;
        border: 1px #5932ea;
        background: #5932ea;
        margin: 0;
        pointer-events: none;
      }

      &:hover {
        background-color: #ddd;
      }
    }

    span {
      color: #000;
      font-size: 12px;
      background-color: transparent;
      width: 9px;
      height: 12px;
    }
  }
}
