@import "./variables";
@import "./mixins";

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 37px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: $menu-background;
  box-shadow: 0 1rem 6rem 0 rgba(226, 236, 249, 0.5);
  transition: transform 0.4s;

  @include v-md {
    position: fixed;
    transform: translateX(-100%);
    padding: 3.2rem 1.6rem;
    z-index: 6;
    top: 0;
    left: 0;
    height: auto;
  }

  &.open {
    transform: translateX(0);
  }

  &-header {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: start;
    margin-bottom: 65px;

    &-icon {
      width: 37px;
      height: 37px;
      fill: #000;
    }

    &-title {
      color: #000;
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 0.26px;

      &-span {
        color: #838383;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: -0.1px;
        margin-left: 4px;
      }
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    align-items: self-start;

    &-item {
      margin-bottom: 30px;

      a {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 250px;
        height: 46px;
        padding: 0;
        gap: 14px;
        border: none;
        font-weight: $font-weight;
        flex-shrink: 0;

        @include menu-item(
          $menu-background,
          $menu-text-color,
          $menu-hover-color,
          $menu-active-color
        );

        &.active {
          background-color: $menu-active-color;

          .sidebar-menu-icon {
            fill: #ffffff;
          }

          .sidebar-shevron-icon {
            color: #ffffff;
          }
        }

        &:hover {
          .sidebar-menu-icon {
            fill: #ffffff;
          }
        }

        .sidebar-menu-icon {
          width: 24px;
          height: 24px;
          fill: $menu-text-color;
          padding-left: 11px;
        }

        .sidebar-shevron-icon {
          background: transparent;
          border: none;
          color: $menu-text-color;
          margin-left: auto;
          padding: 0 15px 0 0;

          .icon {
            width: 16px;
            height: 16px;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sidebar-manager {
    display: flex;
    gap: 12px;
    margin-top: auto;
    margin-bottom: 76px;

    .sidebar-manager-info {
      color: #000;
      font-weight: 400;
      letter-spacing: 0.14px;

      p {
        color: #757575;
        font-size: 12px;
        letter-spacing: 0.12px;
      }
    }
  }
}

.sidebar-toggle {
  display: none;

  @include v-md {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: transparent;
    border: none;
    z-index: 9999;
  }
}
